<div class="navbar has-shadow">
  <div class="navbar-brand">
    <div class="navbar-start">
      <div class="navbar-item">
        <p class="title">Kevin Luo</p>
      </div>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a href="/" class="navbar-item">All Thoughts</a>
      <a href="/new-thought" class="navbar-item">New Thought</a>
    </div>
  </div>
</div>