<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %>
<body>
  <%- include('./partials/_nav.ejs') %>

  <section class="section">
    <div class="container">
      <form action="/<%= thought.id%>?_method=PUT" method="POST">
        <%- include('./partials/_form_fields.ejs') %>
      </form>

    </div>
  </section>
    
</body>
</html>